<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../.tpl/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../.tpl/css/style.css" type="text/css">    
    <title>TerraRossi - Туры</title>
    <script type="text/javascript" src="../../.tpl/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../.tpl/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->    
    <link rel="stylesheet" href="style.css" type="text/css">
    <script type="text/javascript" src="script.js"></script>
</head>

<body>
    <div class="mainWidth">
        <header class="header">
            <div class="logo fleft">
                <a href="/"><img src="../../.tpl/images/logo.png" alt="TerraRossi"></a>
            </div>
            <div class="contacts fright">
                8 (812) 408-7878<br>
                8 (800) 111-2222
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".top-menu">
                <span class="sr-only">Меню</span>
            </button>            
            <div class="top-menu collapse" role="navigation">
                <ul>
                    <li class="first"><a href="/">Главная</a></li>
                    <li><a href="#">Поиск тура</a></li>
                    <li><a href="#">Виды отдыха</a></li>
                    <li><a href="#">Горящие туры</a></li>
                    <li><a href="#">Отели</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты </a></li>
                </ul>                
            </div>            
            <div class="clear"></div>
        </header>
    </div>
    <div class="content">
        <div class="mainWidth">
            <div class="contentBody">
            <!-- Выше ничего менять нельзя-->
            <!-- begin:hotel-->
                <div class="hotel">
					<div class="title dottedBot">
						<div class="control fright">
							<a href="#" class="prev"></a>
							<a href="#" class="next"></a>
						</div>
						<h1 class="inline">Mercure Luna Sharm El Sheikh</h1>
						<div class="star">5</div>						
					</div>
					<div class="sm-table-show row">
						<div class="sm-table-cell col-sm-5 firstCol">
							<ul class="tabs">
								<li class="active"><a href="#hotel" data-toggle="tab">Отель</a></li>
								<li><a href="#mapHotel" data-toggle="tab">Карта</a></li>
								<li><a href="#otzivi" data-toggle="tab">Отзывы</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane fade in active" id="hotel">
									<div class="slider">
										<div id="hotelSlider" class="flexslider">
											<ul class="slides">
												<li><img src="images/slide1.jpg" /></li>										
												<li><img src="images/slide2.jpg" /></li>										
												<li><img src="images/slide3.jpg" /></li>										
												<li><img src="images/slide4.jpg" /></li>
												<li><img src="images/slide1.jpg" /></li>										
												<li><img src="images/slide2.jpg" /></li>										
												<li><img src="images/slide3.jpg" /></li>										
												<li><img src="images/slide4.jpg" /></li>
											</ul>
										</div>
										<div id="hotelCarousel" class="flexslider">
											<ul class="slides">
												<li><img src="images/slide1.jpg" /></li>
												<li><img src="images/slide2.jpg" /></li>
												<li><img src="images/slide3.jpg" /></li>
												<li><img src="images/slide4.jpg" /></li>
												<li><img src="images/slide1.jpg" /></li>
												<li><img src="images/slide2.jpg" /></li>
												<li><img src="images/slide3.jpg" /></li>
												<li><img src="images/slide4.jpg" /></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="tab-pane fade responsiveMap" id="mapHotel">
                                    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
                                    <div id="map_canvas" style="width:100%; height:100%;"></div>
                                    <script>
                                        var map;    
                                        var myLatlng = new google.maps.LatLng(27.85797277057875,34.27382469177246);
                                        function initialize() {                                            
                                            var mapOptions = {
                                                zoom: 13,
                                                center: myLatlng,
                                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                            };
                                            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
                                            var marker = new google.maps.Marker({
                                                position: myLatlng,
                                                map: map,
                                                title: 'Hello World!'
                                            });                                            
                                        } 
                                        google.maps.event.addDomListener(window, 'load', initialize);
                                        $(document).ready(function() {
                                            $('a[href="#mapHotel"]').on('shown.bs.tab', function(e) {
                                                e.preventDefault();
                                                $(this).tab('show');
                                                resetMap(map);
                                            });                                            
                                        }); 
                                        function resetMap(m) {
                                            x = m.getZoom();
                                            c = m.getCenter();
                                            google.maps.event.trigger(m, 'resize');
                                            m.setZoom(x);
                                            m.setCenter(c);
                                        };                                                                          
                                    </script>
                                </div>
								<div class="tab-pane fade" id="otzivi">     
                                    <ul class="pagination pagination-sm">
                                        <li class="disable"><a href="#">&laquo;</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">&raquo;</a></li>
                                    </ul>                               
                                    <div class="comment">
                                        <div class="textComment">Отдыхали впервые с женой вдвоем с 31.11.2013 по 06.12.2014. Все было супер, нет никаких претензий ни к кому - ни к туроператору, ни к авиалинии, ни к отелю, ни к сотрудникам отеля, короче нет замечаний вообще.</div>
                                        <strong>Владимир Иванов</strong>
                                        <span class="date">10 декабря 2013</span>
                                    </div>
                                    <div class="comment">
                                        <div class="textComment">В Египте были 6-ой раз.Сравнить есть с чем...За эту цену-более чем!Отель красивый:лобби большой и роскошный-вечерние мероприятия все там(живая музыка,шоу,дринки,вкусный кофе-в Египте редкость!!</div>
                                        <strong>Анна</strong>
                                        <span class="date">03 декабря 2013</span>
                                    </div>
                                    <div class="comment">
                                        <div class="textComment">Отдыхали там давольно давно, но решила написать только сейчас. Почему? Да раньше сравнивать было не счем. А сейчас уже поездили, посмотрели и понимаем что к чему. На свои 5 звёзд отель тянет и старается отработать.</div>
                                        <strong>Екатерина</strong>
                                        <span class="date">01 декабря 2013</span>
                                    </div>
                                    
                                </div>
							</div>
                            <h3>Общая информация</h3>
                            <dl>
                                <dt>Сайт отеля:</dt>
                                <dd><a href="#">www.hovima-hotels.com</a><dd>
                            </dl>
                            <dl>
                                <dt>E-mail:</dt>
                                <dd><a href="#">santamaria@hovima-hotels.com</a><dd>
                            </dl>
                            <dl>
                                <dt>Телефон:</dt>
                                <dd>(34) 922712777<dd>
                            </dl>
                            <dl>
                                <dt>Факс:</dt>
                                <dd>34) 922712604<dd>
                            </dl>
                            <dl>
                                <dt>Дата постройки:</dt>
                                <dd>1986 г<dd>
                            </dl>
                            <dl>
                                <dt>Дата реконструкции:</dt>
                                <dd>2002 г<dd>
                            </dl>
                            <dl>
                                <dt>Количество номеров:</dt>
                                <dd>402<dd>
                            </dl>
                            <dl>
                                <dt>Расстояние до аэропорта:</dt>
                                <dd>17 км<dd>
                            </dl>
                            <dl>
                                <dt>Расстояние до центра города:</dt>
                                <dd>1 км<dd>
                            </dl>
                            <dl>
                                <dt>Удаленность от пляжа:</dt>
                                <dd>вторая пляжная линия
                            </dl>
						</div>
						<div class="sm-table-cell col-sm-7 secondCol">
							<h2>Об отеле</h2>
							<div class="text">
								<p>Отель Hovima Santa Maria, что расположен на побережье Коста Адехе, в трехстах пятидесяти метрах от моря, предлагает своим гостям если не роскошь многозвездочных собратьев, то подлинные комфорт и уют.</p>
								<p>Белоснежная его наружность выгодно контрастирует как с яркой окружающей природой, так и с насыщенно-веселым оформлением интерьеров, где на пастельно-солнечном фоне стен буйствуют золотистые, синие, алые, лимонные тона отделки и текстильного декора, радует глаз чередование деревянных резных орнаментов и фактур. Жилые покои разделяются на спальню, гостиную и полностью оборудованную и укомплектованную кухню: условно – в студиях, и полноценно – в апартаментах. Напротив кухонного уголка размещается небольшой обеденный стол. Также имеются телевизор со спутниковыми каналами, журнальный столик, вместительный шкаф, отдельная ванная комната. С террас открывается изумительный вид на океан и живописные прибрежные скалы. В ясную погоду можно увидеть вершину вулкана Тейде. За дополнительную плату можно подключиться к интернету или воспользоваться Wi-Fi доступом в сеть прямо в комнатах, но если все же хочется сделать это бесплатно, следует спуститься в холл, к стойке регистрации.</p>
							</div>
							<h2>В отель Отель Австралия 1 горящих туров</h2>
							<p class="min">Цены указаны за одного взрослого, включая авиаперелет, трансфер и страховку</p>
							<div class="sort">
								<span class="inline-block">Сортировать по:</span>
								<ul class="tabs inline-block">
									<li class="active"><a href="#date" data-toggle="tab">дате</a></li>
									<li><a href="#price" data-toggle="tab">цене</a></li>
								</ul>
							</div>
							<div class="tab-content">
								<div class="tab-pane fade in active" id="date">
									<div class="tourInfo">
										<div class="row table-show">
											<div class="col-xs-4 table-cell">
												<div class="forward">Ср 21.11</div>
												<div class="back">Вс 02.12</div>
											</div>
											<div class="col-xs-4 table-cell">
												Apartment<br>
												HB+<br>
												11 ночей
											</div>
											<div class="col-xs-2 price table-cell">
                                                <span>40293</span> руб
											</div>
											<div class="col-xs-2 moreLine table-cell">
                                                <a href="#" class="more">Подробнее</a>
											</div>										
										</div>
                                    </div>
                                    <div class="tourInfo">
                                        <div class="row table-show">
											<div class="col-xs-4 table-cell">
												<div class="forward">Ср 21.11</div>
												<div class="back">Вс 02.12</div>
											</div>
											<div class="col-xs-4 table-cell">
												Apartment<br>
												HB+<br>
												11 ночей
											</div>
											<div class="col-xs-2 price table-cell">
                                                <span>40293</span> руб
											</div>
											<div class="col-xs-2 moreLine table-cell">
                                                <a href="#" class="more">Подробнее</a>
											</div>										
										</div>	
									</div>
								</div>
								<div class="tab-pane fade in" id="price">
                                    <div class="tourInfo">
										<div class="row table-show">
											<div class="col-xs-4 table-cell">
												<div class="forward">Ср 21.11</div>
												<div class="back">Вс 02.12</div>
											</div>
											<div class="col-xs-4 table-cell">
												Apartment<br>
												HB+<br>
												11 ночей
											</div>
											<div class="col-xs-2 price table-cell">
                                                <span>40293</span> руб
											</div>
											<div class="col-xs-2 moreLine table-cell">
                                                <a href="#" class="more">Подробнее</a>
											</div>										
										</div>
                                    </div>
                                    <div class="tourInfo">
                                        <div class="row table-show">
											<div class="col-xs-4 table-cell">
												<div class="forward">Ср 21.11</div>
												<div class="back">Вс 02.12</div>
											</div>
											<div class="col-xs-4 table-cell">
												Apartment<br>
												HB+<br>
												11 ночей
											</div>
											<div class="col-xs-2 price table-cell">
                                                <span>40293</span> руб
											</div>
											<div class="col-xs-2 moreLine table-cell">
                                                <a href="#" class="more">Подробнее</a>
											</div>										
										</div>	
									</div>
                                    <div class="tourInfo">
										<div class="row table-show">
											<div class="col-xs-4 table-cell">
												<div class="forward">Ср 21.11</div>
												<div class="back">Вс 02.12</div>
											</div>
											<div class="col-xs-4 table-cell">
												Apartment<br>
												HB+<br>
												11 ночей
											</div>
											<div class="col-xs-2 price table-cell">
                                                <span>40293</span> руб
											</div>
											<div class="col-xs-2 moreLine table-cell">
                                                <a href="#" class="more">Подробнее</a>
											</div>										
										</div>
                                    </div>
                                    <div class="tourInfo">
                                        <div class="row table-show">
											<div class="col-xs-4 table-cell">
												<div class="forward">Ср 21.11</div>
												<div class="back">Вс 02.12</div>
											</div>
											<div class="col-xs-4 table-cell">
												Apartment<br>
												HB+<br>
												11 ночей
											</div>
											<div class="col-xs-2 price table-cell">
                                                <span>40293</span> руб
											</div>
											<div class="col-xs-2 moreLine table-cell">
                                                <a href="#" class="more">Подробнее</a>
											</div>										
										</div>	
									</div>
								</div>                                
							</div>	
                            <h2>Услуги</h2>
                            <div class="services row">
                                <div class="col-xs-4 service1">
                                    <i></i>
                                    <h4>Общие услуги</h4>
                                    <ul>
                                        <li>Банкомат</li>
                                        <li>Пункт обмена валюты</li>
                                        <li>Камера хранения багажа</li>
                                        <li>Круглосуточная стойка регистрации</li>
                                        <li>Магазины в отеле</li>
                                    </ul>
                                </div>
                                <div class="col-xs-4 service2">
                                    <i></i>
                                    <h4>Удобства в номерах</h4>
                                    <ul>
                                        <li>Обслуживание в номерах</li>
                                        <li>Доставка прессы</li>
                                        <li>Кондиционер</li>
                                        <li>Сейф</li>
                                        <li>Терраса</li>
                                    </ul>
                                </div>
                                <div class="col-xs-4 service3">
                                    <i></i>
                                    <h4>Питание</h4>
                                    <ul>
                                        <li>Заказ завтрака в номер</li>
                                        <li>Бар</li>
                                        <li>Ресторан</li>
                                        <li>Снек-бар</li>
                                    </ul>
                                </div>
                                <div class="clearfix visible"></div>
                                <div class="col-xs-4 service4">
                                    <i></i>
                                    <h4>Здоровье и красота</h4>
                                    <ul>
                                        <li>Парикмахерская</li>
                                        <li>Массаж</li>
                                        <li>Сауна</li>
                                        <li>Спа и оздоровительный центр</li>
                                    </ul>
                                </div>
                                <div class="col-xs-4 service5">
                                    <i></i>
                                    <h4>Услуги по чистке одежды</h4>
                                    <ul>
                                        <li>Прачечная</li>
                                        <li>Глажка одежды</li>
                                        <li>Химчистка</li>
                                    </ul>
                                </div>
                                <div class="col-xs-4 service6">
                                    <i></i>
                                    <h4>Развлечения</h4>
                                    <ul>
                                        <li>Экскурсии</li>
                                        <li>Библиотека</li>
                                        <li>Бильярд</li>
                                        <li>Караоке</li>
                                    </ul>
                                </div>
                            </div>
						</div>
					</div>
				</div>
                <script>
                    $(document).ready(function(){
                        $('#myTab a').click(function (e) {
                            e.preventDefault()
                            $(this).tab('show')
                        });
                        $(window).load(function() {
                          $('#hotelCarousel').flexslider({
                            animation: "slide",
                            controlNav: false,
                            animationLoop: false,
                            slideshow: false,
                            itemWidth: 64,
                            itemMargin: 0,
                            asNavFor: '#hotelSlider'
                          });			   
                          $('#hotelSlider').flexslider({
                            animation: "slide",
                            controlNav: false,
                            animationLoop: false,
                            slideshow: false,
                            sync: "#hotelCarousel",
                            directionNav: false
                          });
                        });
                    });
                </script>
            <!-- end:hotel-->
            <!-- Ниже ничего менять нельзя-->
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <footer class="footer">
        <div class="top">
            <div class="mainWidth">
                <div class="inside">
                    <nav class="bottom-menu">
                        <ul>
                            <li><a href="#">Горящие туры</a></li>
                            <li><a href="#">Спец. туры</a></li>
                            <li><a href="#">Страны</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                    <div class="logo fleft">
                        <a href="/" class="fleft"><img src="../../.tpl/images/logo-min.png" alt=""></a>
                        <div class="text">
                            &copy; 2012-2013 Все права защищены<br>
                            Туристическая поисковая система
                        </div>
                    </div>
                    <div class="contacts fright">
                        Контакты
                        <span>8 (812) 408-7878</span>
                    </div>
                    <div class="clear"></div>
                </div>                
            </div>            
        </div>
        <div class="bottom"></div>
    </footer>      
</body>

</html>
